@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 4.8rem;
  }

  html {
    @apply bg-black font-sans text-white;
    font-size: 62.5%;
  }
}

@utilities {
  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }

  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }
}
